body {
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: arial;
}   
h1,h2,h3,h4,h5 {
  color: deepskyblue;
  
}
a {
  color: goldenrod;
}
p {
  color: indianred
}